<% content_for :header do %>
  <section id="feature" role="banner">
    <h2 class="replace">Finding a staffer has never been easier</h2>
    <p>
      <strong>With over 25,000 Congressional Staffers,</strong> finding the right person can be a challenge. Sunlight's House Staff Directory makes it easy to perform complex searches of the latest House employee data, empowering the public to better communicate with their representatives.
      <span id="action">Find your staffer now!</span>
    </p>
  </section>
<% end %>

<% content_for :footer_id do %>footer-home<% end %>

<div id="main-home" class="main" role="main">

  <section id="directory-search-area">  
    <div id="directory-search-corner"></div>
    <nav id="directory-search" class="basic-search" role="search">
      <h2 class="replace">Search the Directory</h2>
      <span id="search-tip" class="tip">To conduct a search, fill out one or more of the fields below.</span>

      <%= partial :search %>
      
    </nav>
  </section>

  <article id="directory-browse" class="center" role="search">
    <h3 class="replace">Browse the Directory</h3>
    <span id="browse-tip">Check out just a few of the committees, members, and offices that you can learn more about below.</span>
    
    <section id="house-members" class="browse-column">
      <h4><a href="/members" title="House Members">Members</a></h4>
      <ol>
        <% members.each do |member| %>
          <% legislator = member['member'] %>
          <li>
            <a href="<%= office_path member %>"><%= member['name'] %></a>
            <span class="member-parties">
              (<%= legislator['party']%>) <%= legislator['state']%>-<%= district_for legislator['district'] %>
            </span>
          </li>
        <% end %>
      </ol>
      <a class="view" href="/members" title="House Members">View All Members</a>
    </section>
    
    <section id="house-comm" class="browse-column">
      <h4><a href="/committees" title="House Committees">Committees</a></h4>
      <ol>
        <% committees[0...10].each do |committee| %>
          <li>
            <a href="<%= office_path committee %>">
              <%= committee['name'] %>
            </a>
          </li>
        <% end %>
      </ol>
      <a class="view" href="/committees" title="House Committees">View All Committees</a>
    </section>
    
    <section id="house-offices" class="browse-column">
      <h4><a href="/offices" title="All Other Offices">Offices</a></h4>
      <ol>
        <% offices[0...10].each do |office| %>
          <li>
            <a href="<%= office_path office %>">
              <%= office['name'] %>
            </a>
          </li>
        <% end %>
      </ol>
      <a class="view" href="/offices" title="All Other Offices">View All Offices</a>
    </section>
    <div class="clear"></div>     
  </article>

</div>