<div class="office_header <%= office['office_type'] %>">
<% if office['office_type'] == 'member' %>
  <% member = office['member'] %>
  <img src="http://assets.sunlightfoundation.com/moc/100x125/<%= member['bioguide_id'] %>.jpg" />
  <div class="details">
    <h2 class="office legislator"><%= office['name'] %></h2>
    <span>
      <%= party_names[member['party']] %> from 
      
      <a href="/legislators?state=<%= member['state'] %>">
        <%= state_codes[member['state']] %></a>, 
        
      <% if member['title'] == 'Sen' %>
        <a href="/legislators?state=<%= member['state'] %>&title=Sen">
          Senator
        </a>
      <% else %>
        <a href="/legislators?state=<%= member['state'] %>&district=<%= member['district'] %>">
          <%= member['district'].to_i == 0 ? "At-Large" : "District #{member['district']}" %>
        </a>
      <% end %>
    </span>
    <span class="phone"><%= office['phone'] %></span>
    <span class="room"><%= room_for office['building'], office['room'] %></span>
  </div>
  
  <% if office['member']['in_office'] == false %>
    <div class="empty">
      This member is no longer in office.
    </div>
  <% end %>
<% else %>
  <div class="details">
    <h2 class="office"><%= office['name'] %></h2>
    <span class="phone"><%= office['phone'] %></span>
    <span class="room"><%= room_for office['building'], office['room'] %></span>
  </div>
<% end %>

<div class="download">
  <a href="<%= csv_path %>">Download CSV</a>
</div>

<% positions.each do |position| %>
  <tr>
    <td>
      <a href="<%= staffer_path position['staffer'] %>"><%= list_name position['staffer'] %></a>
    </td>
    <td>
      <%= title_listing position['title'] %>
    </td>
    <td>
      <%= position['quarter'] %>
    </td>
  </tr>
<% end %>
  