<h3 class="results">
  <% if type == 'committees' %>
    Committees
  <% elsif type == 'offices' %>
    Offices
  <% elsif type == 'legislators' %>
    <% if params[:state].present? and params[:district].present? %>
      Members from <%= state_codes[params[:state]] %>, District <%= district_for params[:district] %>
    <% elsif params[:state].present? and params[:title].present? %>
      <%= plural_title_for params[:title] %> from <%= state_codes[params[:state]] %>
    <% elsif params[:state].present? %>
      Members from <%= state_codes[params[:state]] %>
    <% else %>
      Members
    <% end %>
  <% end %>
</h3>

<% if offices %>

  <table class="quarter">
    <% offices.each do |office| %>
      <tr class="line <%= out?(office) ? "out" : "" %>">
        <td>
          <a href="<%= office_path office %>">
            <%= office['name'] %>
          </a>
        </td>
        <td>
          <%= office['phone'] %>
        </td>
        <td>
          <%= room_for office['building'], office['room'] %>
        </td>
      </tr>
    <% end %>
  </table>

<% else %>

  <br/>Invalid search parameters for offices.
  
<% end %>