<div class="office_header <%= office.type %>">
<% if office.office_type == 'member' %>
  <% legislator = office['legislator'] %>
  <img src="http://assets.sunlightfoundation.com/moc/100x125/<%= legislator['bioguide_id'] %>.jpg" />
  <div class="details">
    <h2 class="office legislator"><%= office.name %></h2>
    <span>
      <%= party_names[legislator['party']] %> from 
      
      <a href="/legislators?state=<%= legislator['state'] %>">
        <%= state_codes[legislator['state']] %></a>, 
        
      <% if legislator['title'] == 'Sen' %>
        <a href="/legislators?state=<%= legislator['state'] %>&title=Sen">
          Senator
        </a>
      <% else %>
        <a href="/legislators?state=<%= legislator['state'] %>&district=<%= legislator['district'] %>">
          <%= legislator['district'].to_i == 0 ? "At-Large" : "District #{legislator['district']}" %>
        </a>
      <% end %>
    </span>
    <span class="phone"><%= office['phone'] %></span>
    <span class="room"><%= room_for office['building'], office['room'] %></span>
  </div>
  
  <div class="empty">
    This member is no longer in office.
  </div>
<% else %>
  <div class="details">
    <h2 class="office"><%= office.name %></h2>
    <span class="phone"><%= office['phone'] %></span>
    <span class="room"><%= room_for office['building'], office['room'] %></span>
  </div>
<% end %>

<!-- basic office info here -->

<% quarters.keys.sort.reverse.each do |quarter| %>
  <% staffers = quarters[quarter] %>
  
  <h3 class="quarter"><%= format_quarter quarter %></h3>
  
  <% if staffers.any? %>
    <table class="quarter" id="<%= quarter %>">
    
      <% staffers.each do |staffer| %>
        
        <% positions = staffer.quarters[quarter].select do |position|
             position['office']['name'] == office.name
           end
        %>
        <% positions.each do |position| %>
          <tr class="<%= "line" if positions.last.object_id == position.object_id %>">
            <td>
              <% if positions.first.object_id == position.object_id %>
                <a href="<%= staffer_path staffer %>"><%= list_name staffer %></a>
              <% end %>
            </td>
            <td>
              <%= capitalize position['title'] %>
            </td>
          </tr>
        <% end %>
        
      <% end %>
    </table>
  <% else %>
    <p class="none">No staffers listed for this quarter.</p>
  <% end %>
  
<% end %>