<% content_for :header_class do %>header-internal<% end %>

<script type="text/javascript">
  $(function() {
    $("a#toggle").click(function() {
      var elem = $(this);
      if (elem.hasClass("on")) {
        $("#directory-search-internal").removeClass("min");
        elem.removeClass("on");
        elem.addClass("off");
      } else {
        $("#directory-search-internal").addClass("min");
        elem.removeClass("off");
        elem.addClass("on");
      }
    });
    
    $("table.basic-table").tablesorter({
      sortList: [[0,0]],
      headers: {
        4: {sorter: false},
        5: {sorter: false}
      }
    });
    
  });
</script>

<div id="main-internal" class="main" role="main">

  <% if positions %>
    <div id="directory-search-internal" class="min" role="search">
      
      <a id="toggle" href="#" class="on toggle">Toggle</a>

      <h2 class="replace">Your Search Results</h2>
      
      <span id="results-tip" class="tip"
        >Fill out one or more of the fields below to revise your search.
      </span>
      
      <%= partial :search, :locals => {:position => "internal"} %>
    
    </div>
    
    <div class="clear"></div>
    
    <article id="search-results" class="center" role="main">
      
      <% if positions.any? %>
      
        <a href="<%= csv_path %>" id="download-csv" class="replace" title="Download As CSV">
          <span>Download As CSV</span>
        </a>
        
        <table id="results-table" class="basic-table" role="main">
          <colgroup span="2">
          <colgroup span="1" class="wide-col">
          <colgroup span="3">
          <thead>
            <tr>
              <th class="column-sort">Name</th>
              <th class="column-sort">Year/Quarter</th>
              <th>Title/Position</th>
              <th class="column-sort">Office</th>
              <th>Contact Number</th>
              <th>Office/Building</th>
            </tr>
          </thead>
          <tbody>
            
            <% positions.each do |position| %>
              <tr>
                <td>
                  <a href="<%= staffer_path position['staffer'] %>">
                    <%= display_name position['staffer'] %>
                  </a>
                </td>
                <td><%= position['quarter'] %></td>
                <td><%= title_listing position['title'] %></td>
                <td>
                  <a href="<%= office_path position['office'] %>">
                    <%= position['office']['name'] %>
                  </a>
                </td>
                <td>
                  <%= position['office']['phone'] %>
                </td>
                <td>
                  <%= room_for position['office']['building'], position['office']['room'] %>
                </td>
              </tr>
            <% end %>
            
          </tbody>
        </table>
        
      <% else %>
      
        <p class="no_results">
          No staffers found for that search.
        </p>
      
      <% end %>
      
    </article>

  <% else %>

    <p class="no_results">
      You need to specify at least one field in your search.
    </p>
    
  <% end %>

</div>