<% if staffers %>
  <h3 class="results">
    Results for 
  </h3>
  
  <table class="results">
    <% if staffers.any? %>
      <% staffers.each do |staffer| %>
        
        <% positions = nil
          if quarter.present?
             positions = staffer.quarters[quarter] 
           else
             positions = staffer.quarters.values.flatten # all positions
           end %>
        
        <% if positions %>
          <% positions.each do |position| %>
            <tr class="<%= "line" if positions.last.object_id == position.object_id %>">
              <td>
                <% if positions.first.object_id == position.object_id %>
                  <a href="/staffer/<%= staffer._id %>"><%= display_name staffer %></a>
                <% end %>
              </td>
              <td>
                <%= capitalize position['title'] %>
              </td>
              <td>
                <a href="/office/<%= position['office']['_id'] %>"><%= position['office']['name'] %></a>
              </td>
              <td>
                <%= position['office']['phone'] %>
              </td>
              <td>
                <%= room_for position['office']['building'], position['office']['room'] %>
              </td>
            </tr>
          <% end %>
          
        <% else %>
          <tr class="line">
            <td>
              <a href="/staffer/<%= staffer._id %>"><%= display_name staffer %></a>
            </td>
            <td colspan="2">
              <span class="no_positions">No positions held for <%= quarter %>.</span>
            </td>
          </tr>
        <% end %>
        
      <% end %>
    <% else %>
      No staffers found for that search.
    <% end %>
  </table>
<% else %>
  Invalid search parameters.
<% end %>