<% if staffers %>
  <h3 class="results">
    <% if params[:state].present? and params[:quarter].present? %>
      Staffers for the state of <%= state_codes[params[:state]] %> in <%= format_quarter params[:quarter] %>:
    <% elsif params[:staffer_name].present? %>
      Staffers with the last name "<%= params[:staffer_name] %>":
    <% elsif params[:legislator_name].present? and params[:quarter].present? %>
      Staffers who work for legislators with the last name "<%= params[:legislator_name] %>" in <%= format_quarter params[:quarter] %>
    <% end %>
  </h3>
  
  <table class="results">
    <% if staffers.any? %>
      <% staffers.each do |staffer| %>
        <tr>
          <td>
            <a href="/staffer/<%= staffer._id %>"><%= display_name staffer %></a>
          </td>
          <td>
            <%= display_offices_for staffer, params[:quarter] %>
          </td>
        </tr>
      <% end %>
    <% else %>
      No staffers found for that search.
    <% end %>
  </table>
<% else %>
  Invalid search parameters.
<% end %>