<% if staffers %>
  <h3 class="results">
    Results for 
    
    <a class="csv" href="<%= csv_path %>">CSV</a>
  </h3>
  
  <table class="results">
    <% if staffers.any? %>
      <% staffers.each do |staffer| %>
        
        <% quarters.each do |quarter| %>
          <% positions = staffer['quarters'][quarter] %>
          
          <% if positions %>
            <% positions.each do |position| %>
              
              <% 
                last = ((positions.last.object_id == position.object_id) and (quarter == quarters.last))
                first = ((positions.first.object_id == position.object_id) and (quarter == quarters.first))
              %>
              
              <tr class="<%= "line" if last %>">
                <td>
                  <% if first %>
                    <a href="<%= staffer_path staffer %>"><%= display_name staffer %></a>
                  <% end %>
                </td>
                <td>
                  <%= quarter %>
                </td>
                <td>
                  <%= capitalize position['title'] %>
                </td>
                <td>
                  <a href="<%= office_path position['office'] %>"><%= position['office']['name'] %></a>
                </td>
                <td>
                  <%= position['office']['phone'] %>
                </td>
                <td>
                  <%= room_for position['office']['building'], position['office']['room'] %>
                </td>
              </tr>
            <% end %>
         
          <% end %>
          
        <% end %>
        
      <% end %>
    <% else %>
      No staffers found for that search.
    <% end %>
  </table>
<% else %>
  You need to enter at least one specific search term (first name, last name, title, party, state) to find staffers.
<% end %>